<div class class="container">
<h1>Questions & Answer</h1>

<div class="question">
<p>You said <br> <%= params[:ask] %></p>
</div>

<div class="answer">
<p>Your coach said <br> <%= @answer %></p>
</div>

<a href="http://localhost:3000/ask?">Please ask again!</a>

</class>
